body {
    background-color:rgba(185, 185, 236, 0.724);
    margin: 2em;

    h1{
        text-align: center;
    }

    form {
        padding: 1em;
        display: flex;
    }

    #rodzic {
        background-color: rgb(195, 195, 226);
        border:0.25em solid rgb(115, 183, 212);
        font-size:1em;
        border-radius: 0.7em;
        padding: 1em;
      }

      #dziecko1 {
        float:left;
        width:50%;
      }

      #dziecko2 {
        float:right;
        width:50%;
        text-align: end;
      }

      .floatfix {
        zoom:1;
      }

      .floatfix:after {
        content:'';
        display:block;
        clear:both;
      }

      .col-12 {
        display: flex;
        justify-content: end;
      }
}
